#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_auto_install:
	# --- SBOM generation and signing ---
	mkdir -p debian/tmp/sbom
	syft dir:$(CURDIR) -o cyclonedx-json > debian/tmp/sbom/pgedge-radar-sbom.json || exit 1
	KEY_ID=$$(gpg --list-secret-keys --with-colons | awk -F: '/^sec/{print $$5}' | head -n 1); export KEY_ID; \
	gpg --armor --detach-sign \
		--output debian/tmp/sbom/pgedge-radar-sbom.json.asc \
		debian/tmp/sbom/pgedge-radar-sbom.json || exit 1
	install -D -m 0755 radar debian/pgedge-radar/usr/bin/radar
	install -D -m 0644 debian/tmp/sbom/pgedge-radar-sbom.json debian/pgedge-radar/usr/share/pgedge-radar/pgedge-radar-sbom.json
	install -D -m 0644 debian/tmp/sbom/pgedge-radar-sbom.json.asc debian/pgedge-radar/usr/share/pgedge-radar/pgedge-radar-sbom.json.asc
	rm -rf debian/tmp/sbom
